certifi==2019.11.28
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cryptography==3.0
Flask==1.1.2
idna==2.8
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonpickle==1.4.1
MarkupSafe==1.1.1
pycparser==2.20
PySocks==1.7.1
requests==2.22.0
six==1.15.0
urllib3==1.25.7
Werkzeug==1.0.1
yandex-music==0.1.2
zipp==3.1.0
