.input-form-group {
  display: flex;
  flex-direction: column;
  & > label {
    @include element($color: $text_secondary);
    margin-bottom: 4px;
  }
  & > .input {
    @include content($weight: bold, $size: 16px, $color: $text_main);
    height: 48px;
    padding-left: 8px;
    background-color: $backgroud_secondary;
    border: 1px solid $line;
    border-radius: 8px;
    outline: none;
    &::placeholder {
      @include content($weight: normal, $size: 16px, $color: $text_secondary);
    }

    &-password-eye {
      align-self: flex-end;
      color: $text_secondary;
      &_btn {
        position: absolute;
        border: none;
        align-self: flex-end;
        background-color: transparent;
        padding: 33px 10px 10px 0;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
