.button{
    @include content($size: 16px, $weight: bold); 
    background-color: $red;
    color: $main_white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: 0px;
    outline: none;
    cursor: pointer;
    margin: 16px 0px;
    
}

.button:hover{
    background-color: $red_dark;
    color: $secondary_white;
}

.button:active{
    background-color: $red_dark;
    color: $secondary_white;
    transform:scale(0.99,0.97);
}


.button:disabled{
    background-color: $disabled;
    color: $disabled_white;
}

.loading{
    border: 3px solid $main_white; /* Light grey */
    border-top: 3px solid $red; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}