// You can use it like color: $main_font;
//main colors
$red: #EC3944;
$red_dark: #B6353D;
$red_light: #F89299;
//text colors
$text_main: #212529;
$text_secondary: #868e96;
$disabled: #adb5bd;
$main_white: #f8f9fa;
$secondary_white: #e9ecef;
$disabled_white: #868e96;
//backgroud colors
$backgroud_main: #f8f9fa;
$backgroud_secondary: #f1f3f5;
$hover: #dee2e6;
$main_black: #212529;
$secondary_black: #343a40;
$hover_black: #495057;
//element colors
$element_main: #212529;
$element_secondary: #868e96;
$main_white: #f8f9fa;
$secondary_white: #e9ecef;
$line: #dee2e6;
$line_disabled: #e9ecef;
$line_black: #495057;
//system colors
$error: #ff6b6b;
$error_dark: #e03131;
$error_light: #ffe3e3;
$success: #51cf66;
$success_dark: #2f9e44;
$success_light: #d3f9d8;
$warning: #fcc419;
$warning_dark: #f08c00;
$warning_light: #fff3bf;
$info: #339af0;
$info_dark: #1971c2;
$info_light: #d0ebff;