@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/noto-sans-jp-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Regular"), local("NotoSansJapanese-Regular"),
    url("/../fonts/noto-sans-jp-v25-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/../fonts/noto-sans-jp-v25-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/../fonts/noto-sans-jp-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/../fonts/noto-sans-jp-v25-latin-regular.otf") format("opentype"),
    /* Safari, Android, iOS */ url("/../fonts/noto-sans-jp-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/../fonts/noto-sans-jp-v25-latin-regular.svg#NotoSansJP")
      format("svg"); /* Legacy iOS */
}

$main-font: "Noto Sans JP";
